body{
background-image: url(../img/home-bg.jpg);
background-repeat: no-repeat;
margin: 0;
}
.cabecera img{
   height: 50px;
   display: flex;
}
header{
   display: flex;
   justify-content: space-between;
   color: aliceblue;
   border: 1rem;
   background-color: black;
   align-items: center;
   padding: 10px;
  
}
.cabecera{
   display: flex;
}