body{
margin: 0;
max-width: 390px;
height: 844px;
}
.cabecera img{
   height: 50px;
   display: flex;
   max-width: 390px;
   
}
header{
   display: flex;
   justify-content: space-between;
   color: aliceblue;
   border: 1rem;
   background-color: black;
   align-items: center;
   padding: 10px;
   width: 390px;
   
  
}
.cabecera{
   display: flex;
   
}
.bienvenido{
   color: white;
   font-size: 60%;
   font-family: sans-serif;
   width: 120px;
   height: 120px;
   text-align: center;
}
.bienvenido img{
   margin: 1rem;
   width: 390px;
   height: 250px;
}